@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    top: 0;
}

.background{
  background-image: url("/images/bg.svg");
  background-repeat: repeat-y;
}

.background-2{
  background-image: url("/images/bg2.png");
  background-repeat: repeat-y;
}
